{#
    Вывод ответов к задаче.
    Параметры:
        letter      <abc>
        fields
            discard
            comment
        is_best     <boolean>
#}
<div class="answer">
    {% if is_best %}
        Правильный ответ:
    {% endif %}
    <span class="letter">
        {% if mode == 'admin' %}
            {{ letter|upper }}
        {% endif %}
    </span>.
    <span class="discard">
        {% if mode == 'admin' %}
            {{ fields.discard|tile|raw }}
        {% endif %}
    </span>
</div>
<div class="row comment">
    {% if mode == 'admin' %}
        {{ fields.comment }}
    {% endif %}
</div>
