{#
    Вывод ответов к задаче.
    Параметры:
        answer <abc>
        content
            answer
                a
                    discard
                    comment
                b
                    discard
                    comment
                c
                    discard
                    comment
        is_best <boolean>
#}
<div class="answer">
    {% if is_best %}
        Правильный ответ:
    {% endif %}
    {{ answer|upper }}.
    {{ attribute(content.answer, answer).discard|tile|raw }}
</div>
<div class="row">
    {{ attribute(content.answer, answer).comment }}
</div>
