{#
    Выводит один из ответов к задаче.
    Параметры:
        mode        <string>    'admin'|'site'
        letter      <abc>
        fields
            discard
            comment
        is_best     <boolean>
#}
<div class="answer">
    {% if is_best %}
        Правильный ответ:
    {% endif %}
    <span class="letter">
        {% if mode == 'admin' %}
            {{ letter|upper }}
        {% endif %}
    </span>.
    <span class="discard">
        {% if mode == 'admin' %}
            {{ fields.discard|tile|raw }}
        {% endif %}
    </span>
    <div class="comment">
        {% if mode == 'admin' %}
            {{ fields.comment|answer|raw }}
        {% endif %}
    </div>
</div>
