<!doctype html>
<html>
    <head>
        <title>Беспроигрышное мастерство маджонга</title>
        <link rel="stylesheet" href="/style/global.css"/>
        <link rel="stylesheet" href="/style/{% block style %}{% endblock %}.css"/>
    </head>
    <body class="{{ block('style') }}">
        {% block body %}
        {% endblock %}
    </body>
</html>
