<!doctype html>
<html>
    <head>
        <title>Беспроигрышное мастерство маджонга</title>
        <link rel="stylesheet" href="/style/global.css"/>
        <link rel="stylesheet" href="/style/{% block style %}{% endblock %}.css"/>
        {% block script %}
        {% endblock %}
    </head>
    <body class="{{ block('style') }}">
        <div style="float: right; margin-left: 5px">
            <a href="https://github.com/ob-ivan/zettai-tesuji" target="_blank">[Заходи на GitHub]</a>
        </div>
        {% block header %}
        {% endblock %}
        <div class="column">
            {% block body %}
            {% endblock %}
        </div>
        <div class="column">
            {% block right %}
            {% endblock %}
        </div>
    </body>
</html>
<!-- server time: ~SERVER_TIME~ -->
