{% extends '_layout.twig' %}

{% block style %}dummy{% endblock %}

{% block body %}
    <h1>Беспроигрышное мастерство маджонга</h1>
    <p>Подождите, идёт обновление сайта...</p>
    <script>
        // Обновить страницу через десять секунд.
        window.setTimeout(function () { location.reload(true) }, 10*1000);
    </script>
{% endblock %}
