{% extends '_layout.twig' %}

{% block style %}dummy{% endblock %}

{% block body %}
    <h1>Беспроигрышное мастерство маджонга</h1>
    <p>Сайт на разработке</p>
    <p>Разработка на <a target="_blank" href="https://github.com/ob-ivan/zettai-tesuji/">Гитхабе</a></p>
{% endblock %}
