<!doctype html>
<html>
    <head>
        <title>Беспроигрышное мастерство маджонга</title>
        <link rel="stylesheet" href="/style/dummy.css"/>
    </head>
    <body class="dummy">
        <h1>Беспроигрышное мастерство маджонга</h1>
        <p>Сайт на разработке</p>
        <p>Разработка на <a target="_blank" href="https://github.com/ob-ivan/zettai-tesuji/">Гитхабе</a></p>
    </body>
</html>
