{% extends '_layout.twig' %}

{% block style %}main{% endblock %}

{% block body %}
    {% if exercise %}
        <h2>
            Задача №{{ exercise.exercise_id|lpad('0', 3) }}.
            {{ exercise.title }}
        </h2>
        {% include '_exercise_content.twig' with {
            'content'     : exercise.content,
            'show_answer' : false,
        } only %}
    {% else %}
        <p class="empty">Нет такой задачи</p>
    {% endif %}
    
    <p>
        <a href="{{ path('main') }}">[на главную]</a>
        <a href="{{ path('main', { 'page' : page }) }}">[к списку задач]</a>
    </p>
{% endblock %}
