# Directive AddDefaultCharset MUST BE in .htaccess !!!
# Select source html document encoding
AddDefaultCharset utf-8

RewriteEngine On
RewriteBase /

# Prevent web access to some sensitive files and folders.
RewriteRule ^(\.git|composer|config|deploy|log/|src|template|test|vendor) - [F,L]
ErrorDocument 403 "Access Forbidden"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php [L]
