# Directive AddDefaultCharset MUST BE in .htaccess !!!
# Select source html document encoding
AddDefaultCharset utf-8

ErrorDocument 500 /error/500.html

RewriteEngine On
RewriteBase /

# Prevent web access to some sensitive files and folders.
RewriteRule ^(\.git|bin|composer|config|db|deploy|log/|src|template|test|vendor) - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php [L]
