
/* Общий хэдер с приветствием */

div.welcome {
    float : right;
}

/* Просмотр задачи */

div.prev {
    float : left;
}

div.next {
    float : right;
}

/* Редактирование задачи */

input[name=exercise_id], input[name=theme_id] {
    width: 3.5ex;
}

input[name=turn] {
    width: 2.5ex;
}

input[name=title] {
    width: 30ex;
}

textarea.answer, textarea.intro {
    width : 560px;
    height: 7em;
}

/* happy.js */

input.unhappy {
    box-shadow : #f00 0px 0px 1.5px 1px;
}

span.unhappyMessage {
    background : white;
    border   : 1px solid red;
    display  : block;
    padding  : 3px;
    position : absolute;
}
