
/* _exercise_content.twig */

div.exercise {
    width : 560px;
}

div.exercise br {
    clear : both;
}

div.exercise div.row {
    clear : both;
    padding : 0 0 20px;
}

div.exercise div.row div.left {
    float : left;
    width : 50%;
}

div.exercise div.row div.dora {
    float : right;
    width : 50%;
    text-align : center;
}

div.exercise div.row div.hand {
    float : left;
    text-align : center;
}

div.exercise div.row div.draw {
    float : right;
    text-align : center;
}

div.exercise div.question {
    text-align : center;
    padding : 0 0 10px;
}

div.exercise div.row.variants button {
    float : left;
    width : 33%;
    text-align : center;
    border : 0;
    margin : 0;
    background : white;
}

/* _tile.twig */

img.tile {
    vertical-align : middle;
}
