
/* _layout.twig */

div.column {
    width : 570px;
}

/* _exercise_content.twig */

div.exercise {
    width : 560px;
}

div.exercise br {
    clear : both;
}

div.exercise div.row {
    clear   : both;
    padding : 0 0 20px;
}

div.exercise div.row div.left {
    float : left;
    width : 50%;
}

div.exercise div.row div.dora {
    float : right;
    width : 50%;
    text-align : center;
}

div.exercise div.row div.hand {
    float : left;
    text-align : center;
}

div.exercise div.row div.draw {
    float : right;
    text-align : center;
}

div.exercise div.question {
    text-align : center;
    padding : 0 0 10px;
}

div.exercise div.row.not_answered {
    background : #ccc;
    font-weight : bold;
    text-align : center;
    padding-bottom : 0;
    margin-bottom : 20px;
}

div.exercise div.row.variants button[name] {
    background : white;
    border : 0;
    float : left;
    font : 16px serif;
    margin : 0;
    text-align : center;
    width : 33%;
}

div.exercise div.answer {
    padding : 5px 5px 10px;
}

/* _tile.twig */

img.tile {
    vertical-align : middle;
}
