
div.sad div.message {
    border : 1px solid red;
    border-top-width : 10px;
    padding : 1px;
    text-align : center;
}

div.answers {
    display : none;
}

div.fail {
    border : 2px solid red;
}

div.win {
    border : 2px solid green;
}

p.links a.next {
    display : none;
    float   : right;
}
