<!doctype html>
<html>
    <head>
        <title>Беспроигрышное мастерство маджонга</title>
        <link rel="stylesheet" href="/style/admin.css"/>
    </head>
    <body class="admin">
        <div class="welcome">
            Привет, {{ app.security.token.user.username }}!
            <a href="{{ path('admin_logout') }}">[Выйти]</a>
        </div>
    </body>
</html>
