{#
    Селектор фишек для формы редактирования задачи.
    Параметры:
        name    Имя переменной формы.
        TILES   Перечисление всех возможных представлений Tile.
        value   Представление Tile для выбранного значения.
#}
<select name="{{ name }}">
    {% for tile in TILES %}
        <option
            value="{{ tile }}"
            {% if tile == value %}
                selected
            {% endif %}
        >
            {{ tile }}
        </option>
    {% endfor %}
</select>
