{#
    Селектор фишек для формы редактирования задачи.
    Параметры:
        name
        TILES
        value
#}
<select name="{{ name }}">
    {% for tile in TILES %}
        <option
            value="{{ tile }}"
            {% if tile == value %}
                selected
            {% endif %}
        >
            {{ tile }}
        </option>
    {% endfor %}
</select>
