{% extends 'admin/_layout.twig' %}

{% block body %}
    <h2>Редактирование темы</h2>
    <form
        id="admin_theme_edit"
        action="{{ path('admin_theme_save', { 'theme_id' : 'new' }) }}"
        method="post"
    >
        <input type="hidden" name="csrf" value="{{ csrf }}"/>
        <p>
            <label>№<input name="theme_id" required value="{{ exercise.exercise_id }}" maxlength="3"/>.</label>
            <input name="title" required value="{{ exercise.title }}"/>
            <label>
                <input
                    type="checkbox"
                    name="is_hidden"
                    value="1"
                    {% if exercise.is_hidden %}
                        checked
                    {% endif %}
                />
                (скрыта)
            </label>
        </p>

    </form>
{% endblock %}
